@page "/"

<Title>Hello, world!</Title>

<Label>
    Welcome to my Blazor example. This example is meant to integrate with an SQL Server Database using code first.

    You can add a database by changing the Appsettings.json connectionstring, Selecting the Cornelis.Examples.DataAccess project in package manager and
    running following command in package manager: <code>Update-Database</code>.

    In the project you will also find:
</Label>